
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">
      <header class="bk-header">
          <div class="header-container wrapper clearfix">
            <div class="companyheader clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
          </div>
          {{widget('extendednavigation', 'navigationheader', {})|raw}}
      </header> 

<div class="canvas">
    <div class="page-wrap">
          <div class="wrapper clearfix">
              {{zone('main')|raw}}
          </div>
    </div>
</div>
              
<footer class="bk-footer">
    <div class="footer-container">
        {{widget('companyname', 'companyname', {"business": "ATLANTIC"})|raw}}
        {{widget('companyaddress', 'thisunqiuewidgetname', {})|raw}}
    </div>
</footer>

</div>

{% endblock %}