
{% extends "layout.twig" %}

{% block content %}


<div class="featureimage">
      {{widget('feature', 'featurehome', {"header": "THE TIME HAS COME", "strapline":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan varius est fermentum malesuada.Donec lacinia a nisl at suscipit. Lorem ipsum dolor sit amet, consectemalesuada. Donec amet solor.", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
  <header class="bk-header">
      <div class="header-container wrapper clearfix">
          <div class="companyheader clearfix">
              {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
              {{widget('companyname', 'companyname', {"business": "ATLANTIC"})|raw}}
          </div>
      </div>
  </header> 
</div>

<div class="featurebtn-container">
      <a href="#anchor">
          <div class="featurebtn">
          </div>
      </a>
</div>

<div class="navbar clearfix">
    <a name="anchor"></a>
    {{widget('extendednavigation', 'navigationheader', {})|raw}}
</div>

<div class="canvas">
    <div class="page-wrap">
        <div class="mainzone wrapper clearfix">
            {{zone('main')|raw}}
        </div>
    </div>
</div>
          
<footer class="bk-footer">
    <div class="footer-container">
        {{widget('companyname', 'companyname', {"business": "ATLANTIC"})|raw}}
        {{widget('companyaddress', 'thisunqiuewidgetname', {})|raw}}
    </div>
</footer>

{% endblock %}

